@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;400;700&family=Open+Sans:wght@300;400;700&family=Satisfy&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.containerHeader{
    background-color: #39ACC8;
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.headerEsq{
    width: 50%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}
.headerDir{
    width: 50%;
}
.headerOpc{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.userNameLogin{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    gap: 50px;
    text-align: center;
    margin-right: 10px;
}
.btnNameLogin {
    width: 100%;
    height: 30px;
    border: none;
    background: none;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
}
.fotoLogo img {
    width: 70px;
    height: 70px;
}
.nomeSite h1 {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}
.headerDir a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 0px;   
}
.headerNomeUsuario b{
    font-size: 20px;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.headerOpcLogin a{
    font-size: 20px;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.headerNomeUsuario img{
    width: 35px;
    height: 35px;
    margin-right: 5px;   
}
.headerBtnSair img{
    width: 35px;
    height: 35px;
}

.footerContainer {
    background-color: #39ACC8;
    position: relative;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
}

.footerDir {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}

.footerEsq {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}

.footerEsq h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 50px;
}

.contato {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

.contato a {
    color: #FFFFFF;
    height: 100%;
    width: 2.5rem;
    font-size: 2rem;
}



/*CSS Responsividade*/
@media only screen and (min-width: 200px) and (max-width: 1200px){    
    .fotoLogo img {
        width: 60px;
        height: 60px;
    }
    .headerNomeUsuario img{
        width: 30px;
        height: 30px;
    }
    .headerBtnSair img{
        width: 30px;
        height: 30px;
    }
    .headerNomeUsuario{
        display: flex;
        flex-direction: row;
    }
    .headerImagemUser b{
        display: none;
    }
    .userNameLogin{ 
        width: 100px;
        height: 40px;
        gap: 10px;
        margin-right: 10px;
        background-color: #ECECEC;
        border-radius: 30px;
    }
    .nomeSite h1 {
        display: none;
    }
    .headerOpcHome{
        display: none;
    }
    .headerOpc a{
        font-size: 18px;
    }
    .headerOpc{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap:30px;
    }
    
    .footerEsq h3 {
        font-size: 10px;
    }
    .contato a {
        width: 1rem;
        font-size: 1.6rem;
    }
}