@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;400;700&family=Open+Sans:wght@300;400;700&family=Satisfy&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;     
}
.containerRecuperaSenha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #ECECEC;
}
.containerRecuperaSenhaConteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} 
.contentFormRecuperaSenha{
    width: 30%;
    height: 350px;
    border-radius: 30px;
    
    margin-bottom: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formRecuperaSenha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.inputRecuperaSenha{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.inputRecuperaSenhaDados{
    margin: 10px;
    width: 100%;
    height: 40px;
    background: #ffffff;
    border-radius: 10px;
    border: none;
    font-family: "Montserrat";
    font-size: 15px;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.mensagemRecuperaSenha{
    width: 90%;
    height: auto;

}
.mensagemRecuperaSenha p{
    font-family: "Montserrat";
    font-size: 16px;
}
.btnFormRecuperaSenha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btnEnviarRecuperaSenha, .btnEnviarRecuperaSenhaVoltar{
    width: 150px;
    height: 35px;
    background: #143D47;
    border-radius: 10px;
    color: #fff;
    font-family: 'Bebas Neue';
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
.btnEnviarRecuperaSenhaVoltar{
    background-color: #ffcb6a;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #5d5b5b5e;
}
.btnEnviarRecuperaSenha:hover{
    background-color: #143d47ca;
}
.btnEnviarRecuperaSenhaVoltar:hover{
    background-color: #ffcb6aa7;
}


.tituloRecuperaSenha h1{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 200;
    font-size: 40px;   
    color: #000000;
    margin-bottom: 30px;
}
.errorMessageRecupSenha{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;

}

.shakeL {
    animation: shakeL 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  }
  @keyframes shakeL {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-5px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(5px);
    }
  }


/*CSS Responsividade*/
@media only screen and (min-width: 200px) and (max-width: 1200px){
    .tituloRecuperaSenha h1{   
        font-size: 40px;  
    }
    .imgContentFormRecuperaSenha img{
        width: 150px;
        height: 150px;
    }
    .contentFormRecuperaSenha{
        width: 90%;
        height: 350px;
    }
    .imgContentFormRecuperaSenha{
        position: relative;
        height: 100px;
    }
    
}    