@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;400;700&family=Open+Sans:wght@300;400;700&family=Satisfy&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;     
}


.Formulario {
    width: 100%;
    min-height: 100vh;
    background-color: #C2DEE4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
.tituloQuestionario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 96px;
    color: #000000;

}
.linhaQ{
    width: 610px;
    height: 5px;
    background: #297F94;
    border-radius: 30px;
}
.formularioPerg{
    width: 45%;
    height: auto;
    background: #ECECEC;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba(7, 7, 7, 0.37);    
    -webkit-backdrop-filter: blur( 7.5px );
}
.labInputQuestionarioADM{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.inputCursoQuestionarioADM{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.inputCursoQuestionarioADM input{
    width: auto;
}
.labelPergQuestionarioADM{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.labelPergQuestionarioADM h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:600;
    font-size: 16px;
    width: 80%;
    color: #000000;
    margin-top: 20px;
}

.formBotoesQuestionaroADM{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 20px;
}

.formBotoesSalvarQuestionaroADM,.formBotoesSalvarQuestionaroADMSalvar{
    width: 180px;
    height: 40px;
    border: none;
    background: #143D47;
    border-radius: 10px;
    font-family: "Bebas neue";
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formBotoesSalvarQuestionaroADMSalvar{
    background-color: #ffcb6a;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #5d5b5b5e;
}
.formBotoesSalvarQuestionaroADM:hover{
    background-color: #143d47ca;
}
.formBotoesSalvarQuestionaroADMSalvar:hover{
    background-color: #ffcb6aa7;
}
.ImageTrash img{
    width: 20px;
    height: 20px;
}
.ImageTrash img:hover{
    background: #143d47a5;
}

.ImageAdd img{
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    width: 50px;
    height: 50px;
}

.ImageAdd img:hover{
    background: #143d47a5;
}

.semPerguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 10px;
    padding: 20px;
}

.semPerguntasImg{
    width: 200px;
    height: 200px;
}

.semPerguntas p{
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    text-align: center;
    padding: 10px;
    
}

@media only screen and (min-width: 280px) and (max-width: 1200px){
    .linhaQ{
        display: none;
    }
    .formularioPerg{
        width: 90%;
    }
    .labInputQuestionarioADM{
       width: 90%;
    }
    .tituloQuestionario{
        font-size: 35px;    
    }
    .formBotoesQuestionaroADM{
        flex-direction: column;
        margin-bottom: 0px;
        margin-top: 20px;
        gap: 0px;
    }
    .formBotoesSalvarQuestionaroADM,.formBotoesSalvarQuestionaroADMSalvar{
        margin-top: 0px;
        margin-bottom: 20px;
    }
    

   


}