@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;400;700&family=Open+Sans:wght@300;400;700&family=Satisfy&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;     
}
.depoimentosEgressos{
    width: 100%;
    height: auto;
    background-color: #ECECEC;
}
.busca{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}
input{
    width: 500px;
    height: 10%;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-family: "Montserrat";
    font-size: 15px;
    text-indent: 17px;
}
input::placeholder {
    text-indent: 15px;
}
.pesquisaBtn img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
#pesquisaCurso{
    width: 100%;
    height: 10%;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-family: "Montserrat";
    font-size: 15px;
}
.buttonA{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    gap: 10px;
}
.pesquisaBtnCSS{
    width: 150px;
    height: 40px;
    border: none;
    background: #143D47;
    border-radius: 10px;
    font-family: "Montserrat";
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}
.pesquisaNomeInput{
    padding-left: 25px; /* Adiciona espaço para o ícone */
    background-image: url('./../image/usuario.png'); /* Insere o ícone como imagem de fundo */
    background-repeat: no-repeat; /* Evita que o ícone seja repetido */
    background-position: 10px center; /* Define a posição horizontal do ícone */
    background-size: 5%; /* Ajusta a imagem para caber dentro do espaço do elemento */
}
#pesquisaCurso{
    width: 500px;
}
.tituloEgressos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.linhaEgresso{
    width: 35%;
    height: 5px;
    background: #297F94;
    border-radius: 30px;
}
.tituloEgressos h1{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #000000;
}
.depoimentosTurmas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
}
.alunosEgressos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 70%;
}
.aluno{
    width: 100%;
    height: auto;
    background-color: #AED9E3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.alunoEsq{
    width: 30%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.alunoEsq h3{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;   
    color: #000000;
}
.alunoDir{
    width: 80%;
    height: 100%;
}
.alunoEsq img{
    width: 200px;
    height: 300px;
}
.contatosEgresso a{
    color: #000000;
    font-size: 20px;
}
.contatosEgresso {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px
}

.respQuestionario{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;    
}
.d{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #000000;
}
p{
    margin-top: 10px;
    text-align: left;
}
.dataAtt p{
    padding: 10px 50px 30px 0;
}
.turmasEgressos{
    width: 16%;
    height: auto;
}
.containerTurmas{
    width: 100%;
    height: auto;
    background-color: #AED9E3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.tituloContainerTurmas{
    margin-bottom: 10px;
}
.tituloContainerTurmas h3{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;   
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}
.btnTurmasAno{
    background: none;
    border: none;
    cursor: pointer;
}
.turmasAno p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    color: #000000;
}
.alunoRecolhido{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #AED9E3;
    width: 100%;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px;
    gap: 20px;
}
.alunoRecolhido img{
    width: 50px;
    height: 60px;
    border-radius: 30px;       
}
.alunoRecolhido p{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;   
    color: #000000;
}

/*CSS Responsividade*/
@media only screen and (min-width: 280px) and (max-width: 1200px){
    .busca{
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding-top: 30px;
    }
    #pesquisaCurso{
        width: 100%;
    }
    .pesquisaNomeInput{
        width: 100%;
        text-indent: 15px;
        word-wrap: break-word;
   }
   .pesquisaNome{
        width: 90%;
        margin-left: 0px;
    }
    .pesquisaCurso{
        width: 90%;
        margin-left: 0px;
    }   
    .buttonA{
        width: 100%;
        margin-left: 0px;
    }
   .depoimentosTurmas{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .turmasEgressos{
        width: 70%;
        margin-bottom: 20px;
    }
    .aluno{        
        width: 100%;
        background-color: #AED9E3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;

    }
    .alunoRecolhido{
        margin-left: 0px;
    }
    .alunoEsq{
        flex-direction: column;
        justify-content: center;
        gap: 7px;
    }
    .alunoEsq h3{
        text-align: center;
    }
    .respQuestionario p{
        padding: 5px;
        margin-bottom: 10px;
    }
    .respQuestionario{       
        justify-content: center;
        align-items: center;
        padding: 0px;
    }



}