.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContainer {
  width: 450px;
  height: 450px;
  border-radius: 12px;
  background-color: #ececec;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow: auto;
  z-index: 10000;
}
.title h1{
  font-family: 'Bebas Neue';
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 25px;
}
.modalContainer .title {
  display: inline-block;
  text-align: center;

}
.modalContainer h5{
  margin-bottom: 5px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  max-height: 250px;
  font-family: 'Montserrat';
}

.modalPassword {
  width: auto;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align:left;
  max-height: 250px;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: #39ACC8;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: #ffcb6a;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #5d5b5b5e;
}
#cancelBtn:hover {
  background-color: #ffcb6aa7;

}

.modalContainer .footer button:hover {
  background-color: #a0d3df;
}
.togglePassword{
  width: 50%;
  border: none;
  margin: 0px;
  padding: 5px;
  background-color: #ececec;
}
.togglePassword input{

}
