@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;400;700&family=Open+Sans:wght@300;400;700&family=Satisfy&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;     
}
.imgHomeADM img{
    width: 100%;
    height: 100%;
}
.telaADM{
    background-image: url('./../image/imgADM.png'); /* Define a imagem de fundo */
    background-repeat: no-repeat; /* Evita que a imagem seja repetida */  
    background-size: cover;
}
.corpoADM{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloADM{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.tituloADM h1{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;   
    color: #000000;

}
.linhaADM{
    width: 600px;
    height: 5px;
    background: #297F94;
    border-radius: 30px;
}
.textoADM{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32%;
    height: 40%;
    text-align: center;
}
.textoADM h1{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    line-height: 43px;
    color: #000000;
}
.textoADM h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;   
    color: #000000;
}
.btnADM{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.btnInstituicao{
    width: 300px;
    height: 45px;
    border: none;
    background: #143D47;
    border-radius: 10px;
    font-family: "Bebas neue";
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}   

.btnEgressos{
    width: 300px;
    height: 45px;
    border: none;
    background: #498595;
    border-radius: 10px;
    font-family: "Bebas neue";
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
} 

.btnQuestionario{
    width: 300px;
    height: 45px;
    border: none;
    background: #4b7581;
    border-radius: 10px;
    font-family: "Bebas neue";
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
} 
.btnInstituicao:hover {
    background: #143d47a5;
}
.btnEgressos:hover {
    background: #143d47a5;
}
.btnQuestionario:hover{
    background: #143d47a5;
}



/*CSS Responsividade*/
@media only screen and (min-width: 280px) and (max-width: 1200px){    
    .textoADM{
        width: 80%;
        height: 100%;       
    }
    .textoADM h1{
        font-size: 50px;
    }
    .textoADM h3{
        font-size:  1rem;
    }
    .linhaADM{
        width: 100%;
        height: 5px;
        background: #297F94;
        border-radius: 30px;
    }
    
    .btnADM{
        flex-direction: column;
        gap: 15px;
        margin-bottom: 50px;

    }
    .btnMaisDepo, .btnFacaPerfil{
        width: 250px;
        height: 35px;

    } 
   


}