@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;400;700&family=Open+Sans:wght@300;400;700&family=Satisfy&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;     
}
.conteinerTermosDeUso{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ECECEC;
}
.containerTituloTermosDeUso{
    margin-top: 20px;
}
.containerTituloTermosDeUso h3{
    color: black;
    font-size: 23px;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
}
.textoTermoDeUso{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    background: #AED9E3;
    border-radius: 30px;
    padding: 10px;
}
.textoTermoDeUso p{
    font-size: 16px;
    padding: 10px;
}
.marginBottom{
    margin-bottom: 50px;
}
@media only screen and (min-width: 280px) and (max-width: 1200px){
    .textoTermoDeUso{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        background: #AED9E3;
        border-radius: 30px;
        padding: 10px;
    }
}