@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;400;700&family=Open+Sans:wght@300;400;700&family=Satisfy&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;     
}

.conteinerGeral{
    background-color: #ECECEC;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tituloUsuario h1{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}
.containerUsuario{
    width: 80%;
    height: auto;
    background: #a5a9aa;
    border-radius: 30px;
    margin-bottom: 50px;
}
.informacaoUsuario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    gap: 50px;
}
.tituloNomeUsuario h3{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;   
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}
.infoEsq{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
    gap: 10px;
    margin-top: 30px;
}
.infoDir{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 60%;
    height: 100%;
    gap: 20px;
    margin-top: 30px;
}
.inputUsuario{
    width: 80%;
    height: 6%;
    background: #E4E4E4;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-family: 'Montserrat';
    font-size: 15px;
    margin: 10px;
}
.imgUsuario{
    width: 200px;
    height: 300px;
}
.btnEditarFoto{
    width: 60%;
    height: 40px;

    background: #143D47;
    border-radius: 10px;
    
    font-size: 14px;

    cursor: pointer;
    text-align: center;
    justify-items: center;
}
.btnEditarDepoimento, .btnRemoverDepoimento{
    width: 60%;
    height: 30px;
    border: none;
    background: #143D47;
    border-radius: 10px;
    font-family: "Bebas neue";
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    justify-items: center;
}
.btnUsuario{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.btnUsuarioCancelar, .btnUsuarioSalvar{
    width: 15%;
    height: 30px;
    border: none;
    background: #143D47;
    border-radius: 10px;
    font-family: "Bebas neue";
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    justify-items: center;
    margin-bottom: 20px;
}

@media only screen and (min-width: 280px) and (max-width: 1200px){
    .conteinerGeral{
        height: auto;
    }
    .tituloUsuario h1{   
        font-size: 40px; 
        margin-top: 50px;
    }

    .imgUsuario{
        width: 150px;
        height: 250px;
    }
    .informacaoUsuario{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containerUsuario{
        margin-bottom: 100px;
    }
    .infoEsq{
        width: 100%;
    }
    .infoDir{
        width: 100%;
        align-items: center;
    }
    .acessoUsuario{
        width: 70%;
        height: 60%;
    }
    .inputUsuario{
        height: 3%;
        font-size: 15px;
    }
    .btnUsuarioCancelar, .btnUsuarioSalvar{
        width: 150px;
        height: 30px;
    }
    .btnUsuario{
        flex-direction: column; 
    }
}
