@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;400;700&family=Open+Sans:wght@300;400;700&family=Satisfy&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.home {
    background-image: url('./../image/imgADM.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ECECEC;
}

.imgHome img {
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

.textosHome {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32%;
    height: 40%;
    text-align: center;
}

.textosHome h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    line-height: 43px;
    color: #000000;
}

.textosHome h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: #000000;
}

.continuacaoHome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #ECECEC;
    gap: 50px;
}

.continuacaoHomeEsq {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.iconeEgresso {
    margin-top: 200px;
}

.texto1 {
    width: 100%;
    height: 500px;
    background: #C2DEE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: -150px;
}

.texto1 p,
.texto2 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
    text-align: center;
    padding: 30px;
}

.texto1 h3,
.texto2 h3 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 66px;
    color: #39ACC8;
    text-align: center;
}

.texto2 {
    width: 100%;
    height: 450px;
    background: #C2DEE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: -30px;
}

.iconeEgresso img {
    width: 300px;
    height: 300px;
}

.iconeLampada img {
    width: 200px;
    height: 200px;
    margin-top: -150px;
    margin-right: 40px;
}

.continuacaoHomeDir {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.homeDepoimentos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #C2DEE4;
}

.homeDepoimentosB {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #C2DEE4;
}

.depoTitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.linha {
    width: 600px;
    height: 5px;
    background: #297F94;
    border-radius: 30px;
}

.tituloDepoimento h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.container {
    position: relative;
    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
}
.alunoConteinerCarrossel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    border-radius: 10%;
    gap: 3px;
    padding: 0px;

}
.dadosCursoNome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3px;
}
.alunoConteinerCarrossel h3{
   font-family: 'Open Sans';
   font-size: 18px;
   font-weight: 400;
   margin-top: 5px;
}

.alunoConteinerCarrossel h4{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.swiper-slide img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #ECECEC;
}

.depoBotoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.btnMaisDepo,
.btnFacaPerfil {
    width: 300px;
    height: 45px;
    border: none;
    background: #143D47;
    border-radius: 10px;
    font-family: "Bebas neue";
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;

}
.btnMaisDepo{
    background-color: #ffcb6a;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #5d5b5b5e;
}

.btnMaisDepo:hover{
    background-color: #ffcb6aa7;

}
.btnFacaPerfil:hover {
    background-color: #143d47ca;

}


/*CSS Responsividade*/
@media only screen and (min-width: 280px) and (max-width: 1200px) {
    .textosHome {
        width: 80%;
        height:auto;
    }

    .textosHome h1 {
        font-size: 50px;
    }

    .textosHome h3 {
        font-size: 1rem;
    }

    .continuacaoHome {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .continuacaoHomeEsq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .continuacaoHomeDir {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .iconeEgresso {
        margin-top: -10px;
    }

    .iconeLampada {
        margin-top: 100px;
        margin-right: -200px;
        margin-bottom: 10px ;
    }

    .iconeEgresso img {
        width: 200px;
        height: 200px;
    }

    .iconeLampada img {
        width: 100px;
        height: 100px;
    }

    .texto1 {
        width: 80%;
        height: 100%;
        margin-top: -5px;
    }

    .texto2 {
        width: 80%;
        height: 100%;
    }

    .homeDepoimentos {       
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #C2DEE4;
    }

    .depoTitulo {
        width: 100%;
        gap: 20px;
        margin-top: 20px;
    }

    .linha {
        width: 100%;
        height: 5px;
        background: #297F94;
        border-radius: 30px;
    }

    .tituloDepoimento h1 {
        font-size: 30px;
    }

    .container {
        position: relative;
        padding: 10px;
        max-width: 70%;
    }

    .containerImg {
        padding: 10px;        
    }

    .gallery {
        gap: 15px;
    }

    .depoBotoes {
        flex-direction: column;
        gap: 0px;
        margin-bottom: 5%;
    }

    .btnMaisDepo,
    .btnFacaPerfil {
        width: 250px;
        height: 35px;
    }
    

}